<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <appSettings>
    <add key="IsLiveMode" value="1" />
    <add key="PORT_for_6062" value="6062" />
    <add key="PORT_for_6065" value="6065" />
    <add key="PORT_for_6066" value="6066" />
    <add key="openApp_Path" value="D:\Data_Collector\Data_Collector_Starter\Application_On.exe" />

    <!--Restart Second for 6062-->
    <add key="Restart_Second" value="60" />

    <add key="Max_Connected_Socket_6062" value="770" />
	<!-- <add key="Max_Connected_Socket_6062" value="30" /> -->
    <add key="KEEP_AUDIT_LOG" value="0" />
    <add key="Distance_Change_Range_In_KM_6062" value="0.05" />
    <add key="Distance_Change_Range_In_KM_6065" value="0.05" />
    <add key="Distance_Change_Range_In_KM_6066" value="0.05" />

    <!-- UTC offset in seconds for T711L (port 6065) GPS timestamps.
         0 = keep as GPS UTC.  21600 = UTC+6 (Bangladesh/Dhaka).
         Use positive values for East, negative for West. -->
    <add key="UTC_Offset_Seconds_6065" value="21600" />

    <!-- Dedup: skip DB write if same IMEI, same data, within this many seconds -->
    <add key="Dedup_Seconds_6065"     value="10" />
    <!-- Queue batch: how many packets the background writer processes per cycle -->
    <add key="Queue_BatchSize_6065"   value="50" />

    <!-- VT200L (port 6066) configuration -->
    <add key="UTC_Offset_Seconds_6066" value="21600" />
    <add key="Dedup_Seconds_6066"     value="10" />
    <add key="Queue_BatchSize_6066"   value="50" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="VTS_Entities" connectionString="metadata=res://*/VTS_Model.csdl|res://*/VTS_Model.ssdl|res://*/VTS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.9.160,1433;initial catalog=3rdEyE;user id=sa;password=asdf@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>